<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Progress</title>
    <link rel="stylesheet" href="/static/css/chart.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/community.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <!-- font awesome style -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- nice select -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4="
      crossorigin="anonymous"
    />
    <!-- datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"
    />
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/community.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body style="background-color: #00c6a9">
    <div class="hero_area">
      <!-- header section starts -->
      <header class="header_section">
        <div class="header_bottom">
          <div
            class="container-fluid d-flex justify-content-between align-items-center"
          >
            <a href="/" class="logo-nugibot">
              <h2
                style="
                  font-family: 'caveat', cursive;
                  font-weight: bold;
                  padding-right: 50px;
                "
              >
                NuGiBot
              </h2>
            </a>
            <nav
              class="navbar navbar-expand-lg custom_nav-container"
              style="
                height: 60px;
                width: 50%;
                margin-right: 300px;
                display: flex;
                border-radius: 40px;
                background-color: #00c6a9;
              "
            >
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">
                      <i class="fa fa-home"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">
                      <i class="fa fa-info-circle"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/community">
                      <i class="fa fa-robot"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/team">
                      <i class="fa fa-users"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/testimonial">
                      <i class="fa fa-comments"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">
                      <i class="fa fa-envelope"></i>
                      <span class="nav-text"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>

      <!-- client section -->
      <section class="community layout-padding">
        <div class="container">
          <div class="row" style="margin-right: 0px">
            <div class="col-md-4 col-lg-3 mb-2" style="left: -30px">
              <div
                class="menu flex-row justify-content-between align-items-center"
              >
                <!-- NuGiBot -->
                <icon class="material-symbols-outlined" onclick="toggleMenu()"
                  >menu</icon
                >
              </div>
              <nav class="nav flex-column sidebar" id="sidebar">
                <!-- Community Collapse -->
                <div
                  class="sb-sidenav-menu-heading"
                  style="
                    margin-bottom: 10px;
                    margin-top: 10px;
                    font-size: 0.8rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: rgb(150, 149, 149);
                  "
                >
                  menu
                </div>
                <button
                  style="justify-content: center"
                  class="nav-link d-flex align-items-center active"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseCommunity"
                  aria-expanded="false"
                  aria-controls="collapseCommunity"
                >
                  <icon class=""></icon>
                  Community
                </button>
                <div class="collapse" id="collapseCommunity">
                  <a
                    href="/vegan"
                    class="nav-link d-flex align-items-center"
                  >
                    <icon class="mr-2 material-symbols-outlined">spa</icon>
                    Vegan
                  </a>
                  <a
                    href="/diet"
                    class="nav-link d-flex align-items-center"
                  >
                    <icon class="mr-2 material-symbols-outlined">no_meals</icon>
                    Diet
                  </a>
                  
                </div>
                <!-- Features Collapse -->
                <!-- Features -->
                <button
                  style="justify-content: center; margin-top: 10px"
                  class="nav-link d-flex align-items-center active"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFeatures"
                  aria-expanded="false"
                  aria-controls="collapseFeatures"
                >
                  <icon class=""></icon>
                  Features
                </button>
                <div class="collapse" id="collapseFeatures">
                  <a
                    href="/chatbot"
                    class="nav-link d-flex align-items-center"
                  >
                    <i class="fas fa-robot mr-2"></i>
                    Chat with NuGiBot
                  </a>
                  <a
                    href="/chart"
                    class="nav-link d-flex align-items-center"
                  >
                    <icon class="mr-2 material-symbols-outlined"
                      >show_chart</icon
                    >
                    Report Progress
                  </a>
                  <a href="/track" class="nav-link d-flex align-items-center">
                    <icon class="mr-2 material-symbols-outlined"
                      >bar_chart</icon
                    >
                    Food Track
                  </a>
                  <a href="#" class="nav-link d-flex align-items-center">
                    <icon class="mr-2 material-symbols-outlined"
                      >date_range</icon
                    >
                    Reminder
                  </a>
                  <a href="/history" class="nav-link d-flex align-items-center">
                    <icon class="mr-2 material-symbols-outlined"
                      >monitor_heart</icon
                    >
                    Medical History
                  </a>
                  <a href="/calculator" class="nav-link d-flex align-items-center">
                    <icon class="mr-2 material-symbols-outlined"
                      >calculate</icon
                    >
                    Weight Calculator
                  </a>
                </div>

                <!-- Article -->
                <button
                  style="justify-content: center; margin-top: 10px"
                  class="nav-link d-flex align-items-center active"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseArticle"
                  aria-expanded="false"
                  aria-controls="collapseArticle"
                >
                  <icon class=""></icon>
                  Article
                </button>
                <div class="collapse" id="collapseArticle">
                  <a
                    href="/article"
                    class="nav-link d-flex align-items-center"
                  >
                    <i class="fas fa-columns mr-2"></i>
                    Article
                  </a>
                </div>
              </nav>
            </div>

            <!-- Main content -->
            <div
              class="col-xl-8 col-lg-3 col-md-2 col-sm-10"
              style="margin-top: 0px; left: -65px; margin-bottom: 20px"
            >
              <div style="border: 1px solid; border-radius: 10px; width: 125%">
                <div class="card-body" style="border-radius: 30px">
                  <h3 style="font-family: cursive">Calorie Chart</h3>
                  <form id="filterForm" class="d-flex align-items-center gap-2">
                    <div class="row">
                      <div class="col-md-3 col-sm-12">
                        <label for="dataType">Show</label>
                        <select id="dataType" class="form-control">
                          <option value="kalori">Calorie</option>
                          <option value="gizi">Nutrition</option>
                        </select>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <label for="timeRange">Range:</label>
                        <select id="timeRange" class="form-control">
                          <option value="hari">Day</option>
                          <option value="bulan">Month</option>
                          <option value="tahun">Year</option>
                        </select>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <label for="startDate">From:</label>
                        <input
                          type="date"
                          id="startDate"
                          class="form-control"
                          style="margin: 0;"
                        />
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <label for="endDate">To:</label>
                        <input type="date" id="endDate" class="form-control" style="margin: 0;" />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-body">
                  <canvas id="myAreaChart" width="100%" height="30"></canvas>
                  <canvas id="chartGizi" width="400" height="30"></canvas>
                </div>
              </div>
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            const dataKalori = [
              { tanggal: "2024-11-01", kalori: 1800 },
              { tanggal: "2024-11-02", kalori: 2200 },
              { tanggal: "2024-11-03", kalori: 1900 },
              { tanggal: "2024-11-04", kalori: 2000 },
              { tanggal: "2024-11-05", kalori: 1700 },
              { tanggal: "2024-11-06", kalori: 2100 },
              { tanggal: "2024-11-07", kalori: 2500 },
              { tanggal: "2024-11-08", kalori: 2400 },
              { tanggal: "2024-11-09", kalori: 2300 },
              { tanggal: "2024-11-10", kalori: 1900 },
              { tanggal: "2024-11-11", kalori: 1800 },
              { tanggal: "2024-11-12", kalori: 2200 },
              { tanggal: "2024-11-13", kalori: 2100 },
              { tanggal: "2024-11-14", kalori: 2000 },
            ];
            const dataGizi = [
              { tanggal: "2024-11-01", protein: 50, gula: 30, serat: 20 },
              { tanggal: "2024-11-02", protein: 60, gula: 40, serat: 25 },
              { tanggal: "2024-11-03", protein: 55, gula: 35, serat: 22 },
              { tanggal: "2024-11-04", protein: 58, gula: 38, serat: 23 },
              { tanggal: "2024-11-05", protein: 62, gula: 42, serat: 27 },
            ];

            function formatDate(dateString) {
              const options = {
                day: "numeric",
                month: "short",
                year: "numeric",
              };
              return new Date(dateString).toLocaleDateString("id-ID", options);
            }

            const ctx = document.getElementById("myAreaChart").getContext("2d");
            let myChart;

            function renderChart(filteredData, dataType) {
              const labels = filteredData.map((item) => formatDate(item.tanggal));
              const datasets =
                dataType === "kalori"
                  ? [
                      {
                        label: "calories of your food",
                        data: filteredData.map((item) => item.kalori),
                        borderColor: "rgba(75, 192, 192, 1)",
                        backgroundColor: "rgba(75, 192, 192, 0.2)",
                        borderWidth: 2,
                        fill: true,
                        tension: 0.4,
                      },
                    ]
                  : [
                      {
                        label: "Protein",
                        data: filteredData.map((item) => item.protein),
                        backgroundColor: "rgba(255, 99, 132, 0.5)",
                        borderColor: "rgba(255, 99, 132, 1)", // Warna lebih gelap
                        borderWidth: 2,
                      },
                      {
                        label: "Sugar",
                        data: filteredData.map((item) => item.gula),
                        backgroundColor: "rgba(54, 162, 235, 0.5)",
                        borderColor: "rgba(54, 162, 235, 1)", // Warna lebih gelap
                        borderWidth: 2,
                      },
                      {
                        label: "Fiber",
                        data: filteredData.map((item) => item.serat),
                        backgroundColor: "rgba(255, 206, 86, 0.5)",
                        borderColor: "rgba(255, 206, 86, 1)", // Warna lebih gelap
                        borderWidth: 2,
                      },
                    ];

              const chartType = dataType === "kalori" ? "line" : "bar";

              if (myChart) {
                myChart.destroy();
              }

              myChart = new Chart(ctx, {
                type: chartType,
                data: { labels, datasets },
                options: {
                  responsive: true,
                  scales: {
                    x: { title: { display: false }, grid: { display: false } },
                    y: { title: { display: true, text: dataType === "kalori" ? "Kalori" : "Gizi" }, beginAtZero: true },
                  },
                },
              });
            }

            function filterData() {
              const dataType = document.getElementById("dataType").value;
              const timeRange = document.getElementById("timeRange").value;
              const startDate = new Date(document.getElementById("startDate").value);
              const endDate = new Date(document.getElementById("endDate").value);

              let filteredData = dataType === "kalori" ? dataKalori : dataGizi;

              if (!isNaN(startDate) && !isNaN(endDate)) {
                filteredData = filteredData.filter((item) => {
                  const itemDate = new Date(item.tanggal);
                  return itemDate >= startDate && itemDate <= endDate;
                });
              }

              if (timeRange === "bulan") {
                filteredData = filteredData.reduce((acc, curr) => {
                  const month = curr.tanggal.slice(0, 7); // YYYY-MM
                  const existing = acc.find((item) => item.tanggal === month);
                  if (existing) {
                    if (dataType === "kalori") {
                      existing.kalori += curr.kalori;
                    } else {
                      existing.protein += curr.protein;
                      existing.gula += curr.gula;
                      existing.serat += curr.serat;
                    }
                  } else {
                    acc.push(
                      dataType === "kalori"
                        ? { tanggal: month, kalori: curr.kalori }
                        : { tanggal: month, protein: curr.protein, gula: curr.gula, serat: curr.serat }
                    );
                  }
                  return acc;
                }, []);
              } else if (timeRange === "tahun") {
                filteredData = filteredData.reduce((acc, curr) => {
                  const year = curr.tanggal.slice(0, 4); // YYYY
                  const existing = acc.find((item) => item.tanggal === year);
                  if (existing) {
                    if (dataType === "kalori") {
                      existing.kalori += curr.kalori;
                    } else {
                      existing.protein += curr.protein;
                      existing.gula += curr.gula;
                      existing.serat += curr.serat;
                    }
                  } else {
                    acc.push(
                      dataType === "kalori"
                        ? { tanggal: year, kalori: curr.kalori }
                        : { tanggal: year, protein: curr.protein, gula: curr.gula, serat: curr.serat }
                    );
                  }
                  return acc;
                }, []);
              }

              renderChart(filteredData, dataType);
            }

            document.getElementById("dataType").addEventListener("change", filterData);
            document.getElementById("timeRange").addEventListener("change", filterData);
            document.getElementById("startDate").addEventListener("change", filterData);
            document.getElementById("endDate").addEventListener("change", filterData);

            document.addEventListener("DOMContentLoaded", () => {
              renderChart(dataKalori, "kalori");
            });

          </script>
          <!-- </div> -->
          <!-- </div>
            </div>
            </div> -->
        </div>
        <div class="col-md-8 col-lg-9" style="margin-top: 0; left: 270px">
          <div class="row">
            <!-- Chart Wrapper 1 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--primary1)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">Your Calories for the Month</div>
                    <div class="card-1-footer">7000 Kcal</div>
                  </div>
                  <div class="col-2" style="left: -20px">
                    <div class="card-1-body">
                      <i
                        class="material-symbols-outlined"
                        style="
                          left: -50px;
                          font-size: 2em;
                          color: rgba(0, 0, 0, 0.2);
                        "
                        >restaurant</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 2 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--danger)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">Your Calorie Limit for the Month</div>
                    <div class="card-1-footer">75000 Kcal</div>
                  </div>
                  <div class="col-2" style="left: -20px">
                    <div class="card-1-body">
                      <i
                        class="material-symbols-outlined"
                        style="font-size: 2em; color: rgba(0, 0, 0, 0.2)"
                        >warning</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 3 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--success)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">Your Calories for the Day</div>
                    <div class="card-1-footer">75000 Kcal</div>
                  </div>
                  <div class="col-2" style="left: -20px">
                    <div class="card-1-body">
                      <i
                        class="material-symbols-outlined"
                        style="font-size: 2em; color: rgba(0, 0, 0, 0.2)"
                        >ramen_dining</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 4 -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--warning)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">Your Calorie Limit Today</div>
                    <div class="card-1-footer">75000 Kcal</div>
                  </div>
                  <div class="col-2" style="left: -20px">
                    <div class="card-1-body">
                      <i
                        class="material-symbols-outlined"
                        style="font-size: 2em; color: rgba(0, 0, 0, 0.2)"
                        >emergency_home</i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 style="font-family: cursive; margin-top: 20px">
            CALORIE REDUCTION RECOMMENDATION
          </h3>
          <div class="row">
            <!-- Chart Wrapper 1 -->
            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--primary1)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">
                      Total Daily Calorie Recommendations 
                    </div>
                    <div class="card-1-footer">
                      Try increasing your physical activity to maintain your daily calorie balance and reach your monthly goal.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 2 -->
            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--danger)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">
                      Recommended Daily Calorie Limit
                    </div>
                    <div class="card-1-footer">
                      Keep a close eye on your calorie intake, choosing low-calorie foods to keep your numbers ideal.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 3 -->
            <div
              class="col-xl-6 col-lg-3 col-md-6 col-sm-12"
              style="margin-top: 10px"
            >
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--success)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">
                      Monthly Total Calorie Recommendation
                    </div>
                    <div class="card-1-footer">
                      To keep calories under control, make sure that your physical activity includes light exercise such as walking or yoga 30 minutes per day to burn more calories.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Chart Wrapper 4 -->
            <div
              class="col-xl-6 col-lg-3 col-md-6 col-sm-12"
              style="margin-top: 10px; margin-bottom: 30px"
            >
              <div
                class="chart-wrapper"
                style="border-left: 6px solid var(--warning)"
              >
                <div
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-10">
                    <div class="card-1-body mb-3">
                      Recommended Monthly Calorie Limit
                    </div>
                    <div class="card-1-footer">
                      Focus on healthy foods (vegetables, lean protein) and avoid processed foods high in sugar and fat. Always use NuGiBot to track and maintain your intake.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/static/js/chart1.js"></script>
    <script src="/static/js/chart2.js"></script>
    <script>
      function toggleMenu() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.display === "none" || sidebar.style.display === "") {
          sidebar.style.display = "block";
        } else {
          sidebar.style.display = "none";
        }
      }
    </script>
  </body>
</html>
